body {
    background-color: rgb(21, 21, 21);
  }

h1 {
    text-align: center;
    color: #eba6ea;
    font-size: 45px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 22px;
}

p {
    text-align: center;
    color: white;
    font-size: 18px;
}

p2 {
    text-align: center;
    color: white;
    font-size: 13px;
}

a {
    background-color: ffc7fe;
    font-size: 18px;
}

img {
    width: 400px;
    height: auto;
  }